* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    min-width: 480px;
}
.recent__box {
    margin-top: 57px;
    z-index: -15;
}
.recent__box_hover {
    position: relative;
    width: 100%;
    height: 100%;
}

.recent__block {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.267);
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    border-radius: 16px;
}

.recent__button {
    width: 100%;
    height: 50px;
    background: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.recent__box_hover:hover .recent__block{
    opacity: 1;
}
.recent__button img{
    width: 15%;
}
.recent__box h3{
    margin-left: 0;
}